/*Default Css*/
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.clear::after {
  content: "";
  clear: both;
  display: block;
}

.text-center {
  text-align: center;
}

.t-right {
  text-align: right;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.mid-content {
  max-width: 1300px;
  margin: auto;
}

/*main css*/
/*header start*/
.header-section {
  padding: 6px 0;
  background: white;
  border-bottom: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header-section .mid-content .logo {
  width: 30%;
}

.header-section .mid-content .logo img {
  width: 50px;
  float: left;
}

.header-section .mid-content .logo span {
  display: inline-block;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}

.header-section .mid-content .menu {
  width: 56%;
}

.header-section .mid-content .menu ul li {
  display: inline-block;
  line-height: 30px;
  position: relative;
}

.header-section .mid-content .menu ul li:hover ul {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.header-section .mid-content .menu ul li ul {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 200px;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: .4s;
  transition: .4s;
  cursor: pointer;
}

.header-section .mid-content .menu ul li ul li {
  display: block;
}

.header-section .mid-content .menu ul li ul li a {
  display: block;
}

.header-section .mid-content .menu ul li a {
  display: block;
  color: #767676;
  font-size: 17px;
  padding: 0px 20px;
  line-height: 56px;
}

.header-section .mid-content .btn {
  border: 2px solid #6278df;
  background: white;
  color: #6278df;
  padding: 10px 30px;
  margin-top: 8px;
  display: inline-block;
  font-weight: 600;
  border-radius: 10px;
  text-align: right;
}

.header-section .mid-content .btn:hover {
  background: #6278df;
  color: white;
}

.baner-section {
  background-image: url("./Img/mbr-4.jpg");
  background-size: cover;
  padding: 200px 0;
  color: white;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}

.baner-section::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.baner-section h3 {
  font-size: 20px;
  font-weight: 500;
}

.baner-section h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0;
  margin-bottom: 50px;
}

.baner-section .d-btn {
  background: white;
  padding: 20px 30px;
  color: #767676;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  -webkit-transition: .4s;
  transition: .4s;
}

.baner-section .d-btn:hover {
  background: #6278df;
  color: white;
}

.baner-section .d-btn i {
  padding-right: 5px;
}

.video-section {
  background: #f7f9ff;
  padding: 100px 0;
}

.video-section .video {
  width: 48%;
}

.video-section .content {
  width: 48%;
}

.video-section .content h1 {
  font-size: 50px;
  font-weight: 500;
  padding-left: 60px;
  margin-bottom: 30px;
}

.video-section .content p {
  padding-left: 60px;
  font-size: 20px;
  line-height: 2rem;
  color: #767676;
}

.about-section {
  background: white;
  padding: 100px 0;
}

.about-section .title h2 {
  font-size: 60px;
  margin-bottom: 30px;
}

.about-section .title p {
  font-size: 26px;
  color: #767676;
  margin-bottom: 60px;
}

.about-section .about-box {
  width: 31.3%;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.1);
  margin-right: 2%;
  margin-bottom: 30px;
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about-section .about-box .icon {
  width: 60px;
  float: left;
  min-height: 108px;
  font-size: 45px;
  color: #6278df;
  margin-right: 10px;
}

.about-section .about-box h3 {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 30px;
}

.about-section .about-box p {
  color: #767676;
  font-size: 20px;
  line-height: 1.6em;
}

.service-section {
  background-color: #f7f9ff;
  padding-top: 100px;
  padding-bottom: 40px;
  border-radius: 5px;
}

.service-section h1 {
  font-size: 55px;
  font-weight: 500;
  margin: 30px 0;
}

.service-section p {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 80px;
  color: #767676;
}

.service-section .sr-items .items {
  background-color: white;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
  border: 1px solid #ddd;
  width: 31%;
  margin-right: 25px;
  border-radius: 5px;
}

.service-section .sr-items .items .price {
  border-bottom: 1px solid #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}

.service-section .sr-items .items .price:hover {
  background-color: #6278df;
  color: white;
}

.service-section .sr-items .items .price h3 {
  padding-top: 25px;
  margin-left: 30px;
  font-size: 28px;
  font-weight: 500;
}

.service-section .sr-items .items .price h2 {
  font-weight: 700;
  font-size: 45px;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 20px;
  padding: 7px;
}

.service-section .sr-items .items .price h2 span {
  font-size: 25px;
}

.service-section .sr-items .items .price h4 {
  margin-top: 35px;
  font-weight: 600;
  margin-left: 30px;
}

.service-section .sr-items .items .price p {
  font-size: 22px;
  margin-top: 25px;
  margin-left: 30px;
  font-weight: 500;
  margin-right: 20px;
  margin-bottom: 25px;
}

.service-section .sr-items .items .content {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
}

.service-section .sr-items .items .content li {
  list-style: none;
  margin-bottom: 20px;
  color: #767676;
}

.service-section .sr-items .items .content li i {
  color: #6278df;
  padding-right: 20px;
}

.service-section .sr-items .items .content .d-btnn {
  color: #767676;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
  border-radius: 10px;
  background: white;
  text-decoration: none;
  padding: 10px 20px;
  margin-top: 50px;
  margin-bottom: 30px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.service-section .sr-items .items .content .d-btnn:hover {
  background: #6278df;
  color: white;
}

.team-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.team-section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 80px;
}

.team-section .team {
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.2);
  margin-right: 30px;
  text-align: center;
  width: 21%;
}

.team-section .team img {
  width: 300px;
  margin-bottom: 35px;
}

.team-section .team p {
  color: #767676;
  margin-bottom: 30px;
  margin-top: 10px;
}

.newsleter-section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f7f9ff;
}

.newsleter-section .widd {
  width: 41%;
}

.newsleter-section a {
  text-decoration: none;
  color: white;
  background-color: #6278df;
  padding: 20px 65px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 50px;
}

.newsleter-section a:hover {
  background: white;
  color: #6278df;
  border: 2px solid #6278df;
}

.newsleter-section h2 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-bottom: 50px;
}

.newsleter-section p {
  font-size: 21px;
  line-height: 27px;
  margin-bottom: 60px;
  font-weight: 400;
  color: #767676;
}

.newsleter-section .mail {
  border-radius: 5px;
  border: 1px solid #767676;
  padding: 20px 20px;
  font-size: 13px;
  font-size: 20px;
  width: 50%;
  margin-bottom: 40px;
  -webkit-transform: translate(236px, -17px);
          transform: translate(236px, -17px);
}

.newsleter-section .mail:focus {
  border: 1px solid #6278df;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
}

.blog-section {
  margin-top: 100px;
}

.blog-section .blog-item {
  width: 50%;
}

.blog-section .blog-item h2 {
  font-size: 45px;
  font-weight: 500;
}

.blog-section .blog-item p {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #767676;
}

.blog-section .blog-items {
  width: 47%;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.1);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.1);
  margin-top: 60px;
  margin-right: 30px;
  margin-bottom: 80px;
}

.blog-section .blog-items img {
  max-width: 100%;
  width: 310px;
  float: left;
  margin-right: 40px;
}

.blog-section .blog-items h4 {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
}

.blog-section .blog-items p {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 300;
  color: #767676;
  padding-top: 1rem;
}

.fdb-section {
  background: #f7f9ff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.fdb-section .row {
  --bs-gutter-x: -0.5rem;
  --bs-gutter-y: 0;
}

.fdb-section p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 60px;
  color: #767676;
}

.fdb-section h2 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 70px;
}

.fdb-section .c-fdb {
  margin-right: 25px;
  width: 31%;
}

.fdb-section .s-content {
  position: relative;
}

.fdb-section .s-content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -20px;
  right: 0;
  margin: auto;
  width: 0;
  height: 0;
  border-width: 20px 20px 0 20px;
  border-color: #FFFFFF transparent transparent transparent;
  border-style: solid;
}

.fdb-section .s-content span {
  position: absolute;
  top: 14px;
  left: 28px;
  font-size: 60px;
  color: #767676;
  opacity: .15;
}

.fdb-section .s-content p {
  background-color: white;
  padding: 50px;
  color: #767676;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
}

.fdb-section .user {
  clear: both;
}

.fdb-section .user img {
  border-radius: 50%;
  width: 85px;
  float: left;
  margin-left: 85px;
  margin-right: 20px;
}

.fdb-section .user h4 {
  padding-top: 10px;
}

.contact-section {
  margin-top: 80px;
}

.contact-section .map {
  margin-right: 40px;
  width: 48%;
}

.contact-section .contact-form {
  width: 48%;
}

.contact-section h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

.contact-section p {
  font-size: 25px;
  font-weight: 500;
  color: #767676;
  margin-bottom: 70px;
}

.contact-section .contact-form {
  font-size: 20px;
}

.contact-section .contact-form .d-input {
  width: 350px;
  padding: 20px 15px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  font-size: 20px;
}

.contact-section .contact-form .d-input:focus {
  border: 1px solid #6278df;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
}

.contact-section .contact-form .w100 {
  width: 100%;
}

.contact-section .contact-form .w50 {
  width: 48%;
}

.contact-section .contact-form .hig {
  height: 200px;
}

.contact-section .foter-btn {
  color: white;
  background-color: #6278df;
  padding: 15px 50px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 600;
  margin-top: 10px;
  display: inline-block;
}

.contact-section .foter-btn:hover {
  background: white;
  color: #6278df;
  border: 1px solid #6278df;
  -webkit-box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
          box-shadow: 4px 4px 20px 0 rgba(0, 0, 255, 0.5);
}

.foter {
  margin-top: 80px;
  font-size: 25px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */